[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"

[dev-packages]
jupyter = "*"
pyyaml = "*"
semver = {ref = "2.13.0", git = "https://github.com/python-semver/python-semver.git"}
wheel = "*"
